.Soda {
    background-image: url("./soda.jpeg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Soda-text {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1em 5em;
    border-radius: 5px;
    margin-bottom: 2em;
}

.Soda-back-button a {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
